<!DOCTYPE html>
<html lang="ae">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="{{url_for("static", filename="style.css")}} />
        <title>My First App</title>
    </head>
    <body>
    <div class="container">
        <h1>Welcome to my App</h1>
        <p>
            This is my first application using Flask
        </p>
    </div>
    </body>
</html>
</html>